<table align='center'>
        <tr>
            <td>The Result</td>    
        </tr>
</table> 
<div align='center'>
    
    <textarea   data-post-type-id="2" cols="92" rows="15" tabindex="101" data-wz-state="256" data-min-length="" spellcheck="false" placeholder="The result will be displayed here">
    <%=ress%>
</textarea>
</div>